@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  // font-family:'omyu_pretty' ;
  // font-family: 'Cafe24Supermagic-Bold-v1.0';
  font-family: 'Cafe24Ssurround';
}
main{
  width: 390px; 
  height: 100vh;
  background-color: #000000;
  margin: 0 auto;
  // font-family: 'Noto Sans KR', sans-serif;
  .home{
    height: 100%;
    // background-image: url('../public/trophy2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0;
    h2{
      margin:0;
      padding-top: 40px;
      font-size: 40px;
      text-align: center;
      color: #FFDB68;
    }
  
    .buttons{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .category_button{
          width: 160px;
          margin: 20px auto 5px;
          padding: 8px 0;
          border-radius: 20px;
          border: none;
          background-color: #FFDB68;
          font-size: 20px;
          color: #000000;
          font-weight: bold;
          cursor: pointer;
          &:nth-of-type(5){
            margin: 0 auto;
          }
      }
      > .button_detail{
        font-size: 14px;
        text-align: center;
        margin: 20px auto 10px;
        color: white;
      }
      > span{
        width: 300px;
        margin: 10px auto 20px;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
  

  .versus{
    width: 100%;
    .icon{
      display: block;
      text-align: right;
      padding: 10px;
      color: white;
      font-size: 32px;
      cursor: pointer;
    }
    > h2{
      margin:0;
      padding-top: 10px;
      font-size: 40px;
      text-align: center;
      color: #FFDB68;
    }
    .round{
      text-align: center;
      color: #ffffff;
      font-size: 30px;
      margin:20px 0;
    }

    .versus_box{
        border: 1px solid #ffffff;
        border-radius: 20px;
        margin: 10px;
        color: white;
      .versus_item{
        padding: 20px 10px 0;
        margin: 0;
        display: flex;
        justify-content: space-between  ;

        > li{ 
          width: 50%;
          list-style: none;
          padding: 3px;
          
          > span{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            font-size: 20px;
          }
          > figure{
            text-align: center;
            width: 100%;
            margin: 0;
            cursor: pointer;
            > img{
              width: 170px;
              height: 190px;
              
            }
          }
        }
      }

      > p{
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
        > strong{
          display: block;
          font-size: 35px;
          color: #FFDB68;
        }
        > span{}
      }  
    }

  }

  .insert{
    
    .insert_input{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      > input{
        width: 100px;
        border-radius: 20px;
        padding: 10px 30px;
        border: none;
        margin: 10px;
        text-align: center;
      }
    }
    
    
  }

  .winner{
    color: white;
    .icon{
      display: block;
      text-align: right;
      padding: 20px;
      color: white;
      font-size: 32px;
      cursor: pointer;
    }
    .winner_detail{
      h2{
        margin:0;
        padding-top: 10px;
        font-size: 40px;
        text-align: center;
        color: #FFDB68;
      }
      figure{
        text-align: center;
      }
      span{
        display: block;
        text-align: center;
      }
    }
  }
}